body {
    background-image: url("../images/rusticBackground.jpeg");
    background-color: peru;
}

header {
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}
header nav {
    margin-right: 21px;
}
header nav li {
    display: flex;
    list-style-type: none;
    margin: 20px;
}
#galleryTable
{
    justify-content: space-evenly;
}
.content {
    display: flex;
    color: lightgray;
}
h2, label {
    color: lightgray;
}
.content .sidebar {
    width:  600px;
    padding: 30px 45px;
    flex-wrap: wrap;
}



.content .displayContent {
    padding: 25px;
}
#index {
    display: flex;
    text-wrap: normal;
}
#index2 {
    display: flex;
    text-wrap: revert;
}

footer {
    text-align: center;
    color: lightgray;
    font-size: medium;
}

footer a {
    margin: 20px;
}